@model IEnumerable<TraceabilityV3.Device>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequiresUpdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastCheckin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastReportedStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentOperatorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Waypoint)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAC)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.RequiresUpdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastCheckin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastReportedStatus)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.CurrentOperatorId)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.Waypoint)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
