@model PagedList.IPagedList<TraceabilityV3.HandlingUnit>
@using PagedList.Mvc

@{
    ViewBag.Title = "Handling Units (Search)";
    var pageSize = Request.QueryString["pageSize"];
    var sortOrder = ViewBag.SortOrder;
    var sortDirection = ViewBag.SortDirection;
    var SSCC = Request.QueryString["SSCC"];
    var WERKS = Request.QueryString["WERKS"];
    var MATNR = Request.QueryString["MATNR"];
    var ScannedCode = Request.QueryString["ScannedCode"];
    var CreatedFrom = Request.QueryString["CreatedFrom"];
    var CreatedTo = Request.QueryString["CreatedTo"];
    var CreatedBy = Request.QueryString["CreatedBy"];
    var Batch = Request.QueryString["Batch"];
    var Horse = Request.QueryString["Horse"];
    var Status = Request.QueryString["Status"];
    var MaxRecords = Request.QueryString["MaxRecords"];
}

<h2>Handling Unit (Search)</h2>

@using (Html.BeginForm("Index", "HandlingUnits", FormMethod.Get))
{

    <!-- Hidden fields for sortOrder and sortDirection -->
    <input type="hidden" name="sortOrder" value="@sortOrder" />
    <input type="hidden" name="sortDirection" value="@sortDirection" />

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("SSCC", "Index", new { sortOrder = "SSCC", sortDirection = sortDirection == "asc" ? "desc" : "asc", pageSize, SSCC, WERKS, MATNR, ScannedCode, CreatedFrom, CreatedTo, CreatedBy, Batch, Horse, Status, MaxRecords })
                    @if (sortOrder == "SSCC")
                    {
                        <i class="fa @(sortDirection == "asc" ? "fa-arrow-up" : "fa-arrow-down")"></i>
                    }
                </th>
                <th>
                    @Html.ActionLink("WERKS", "Index", new { sortOrder = "WERKS", sortDirection = sortDirection == "asc" ? "desc" : "asc", pageSize, SSCC, WERKS, MATNR, ScannedCode, CreatedFrom, CreatedTo, CreatedBy, Batch, Horse, Status, MaxRecords })
                    @if (sortOrder == "WERKS")
                    {
                        <i class="fa @(sortDirection == "asc" ? "fa-arrow-up" : "fa-arrow-down")"></i>
                    }
                </th>
                <th>
                    @Html.ActionLink("MATNR", "Index", new { sortOrder = "MATNR", sortDirection = sortDirection == "asc" ? "desc" : "asc", pageSize, SSCC, WERKS, MATNR, ScannedCode, CreatedFrom, CreatedTo, CreatedBy, Batch, Horse, Status, MaxRecords })
                    @if (sortOrder == "MATNR")
                    {
                        <i class="fa @(sortDirection == "asc" ? "fa-arrow-up" : "fa-arrow-down")"></i>
                    }
                </th>
                <th>
                    @Html.ActionLink("ScannedCode", "Index", new { sortOrder = "ScannedCode", sortDirection = sortDirection == "asc" ? "desc" : "asc", pageSize, SSCC, WERKS, MATNR, ScannedCode, CreatedFrom, CreatedTo, CreatedBy, Batch, Horse, Status, MaxRecords })
                    @if (sortOrder == "ScannedCode")
                    {
                        <i class="fa @(sortDirection == "asc" ? "fa-arrow-up" : "fa-arrow-down")"></i>
                    }
                </th>
                <th>
                    @Html.ActionLink("Created", "Index", new { sortOrder = "Created", sortDirection = sortDirection == "asc" ? "desc" : "asc", pageSize, SSCC, WERKS, MATNR, ScannedCode, CreatedFrom, CreatedTo, CreatedBy, Batch, Horse, Status, MaxRecords })
                    @if (sortOrder == "Created")
                    {
                        <i class="fa @(sortDirection == "asc" ? "fa-arrow-up" : "fa-arrow-down")"></i>
                    }
                </th>
                <th>
                    @Html.ActionLink("CreatedBy", "Index", new { sortOrder = "CreatedBy", sortDirection = sortDirection == "asc" ? "desc" : "asc", pageSize, SSCC, WERKS, MATNR, ScannedCode, CreatedFrom, CreatedTo, CreatedBy, Batch, Horse, Status, MaxRecords })
                    @if (sortOrder == "CreatedBy")
                    {
                        <i class="fa @(sortDirection == "asc" ? "fa-arrow-up" : "fa-arrow-down")"></i>
                    }
                </th>
                <th>
                    @Html.ActionLink("Batch", "Index", new { sortOrder = "Batch", sortDirection = sortDirection == "asc" ? "desc" : "asc", pageSize, SSCC, WERKS, MATNR, ScannedCode, CreatedFrom, CreatedTo, CreatedBy, Batch, Horse, Status, MaxRecords })
                    @if (sortOrder == "Batch")
                    {
                        <i class="fa @(sortDirection == "asc" ? "fa-arrow-up" : "fa-arrow-down")"></i>
                    }
                </th>
                <th>
                    @Html.ActionLink("Horse", "Index", new { sortOrder = "Horse", sortDirection = sortDirection == "asc" ? "desc" : "asc", pageSize, SSCC, WERKS, MATNR, ScannedCode, CreatedFrom, CreatedTo, CreatedBy, Batch, Horse, Status, MaxRecords })
                    @if (sortOrder == "Horse")
                    {
                        <i class="fa @(sortDirection == "asc" ? "fa-arrow-up" : "fa-arrow-down")"></i>
                    }
                </th>
                <th>
                    @Html.ActionLink("Status", "Index", new { sortOrder = "Status", sortDirection = sortDirection == "asc" ? "desc" : "asc", pageSize, SSCC, WERKS, MATNR, ScannedCode, CreatedFrom, CreatedTo, CreatedBy, Batch, Horse, Status, MaxRecords })
                    @if (sortOrder == "Status")
                    {
                        <i class="fa @(sortDirection == "asc" ? "fa-arrow-up" : "fa-arrow-down")"></i>
                    }
                </th>
            </tr>

            <tr>
                <td><input type="text" name="SSCC" value="@Request.QueryString["SSCC"]" class="form-control" placeholder="Search SSCC" /></td>
                <td><input type="text" name="WERKS" value="@Request.QueryString["WERKS"]" class="form-control" placeholder="Search WERKS" /></td>
                <td><input type="text" name="MATNR" value="@Request.QueryString["MATNR"]" class="form-control" placeholder="Search MATNR" /></td>
                <td><input type="text" name="ScannedCode" value="@Request.QueryString["ScannedCode"]" class="form-control" placeholder="Search ScannedCode" /></td>
                <td>
                    <div class="date-time-container">
                        <div>
                            <label for="CreatedFrom">Created From:</label>
                            <input type="datetime-local" name="CreatedFrom" value="@ViewBag.CreatedFrom" class="form-control" />
                        </div>
                        <div>
                            <label for="CreatedTo">Created To:</label>
                            <input type="datetime-local" name="CreatedTo" value="@ViewBag.CreatedTo" class="form-control" />
                        </div>
                    </div>
                </td>
                <td><input type="text" name="CreatedBy" value="@Request.QueryString["CreatedBy"]" class="form-control" placeholder="Search CreatedBy" /></td>
                <td><input type="text" name="Batch" value="@Request.QueryString["Batch"]" class="form-control" placeholder="Search Batch" /></td>
                <td><input type="text" name="Horse" value="@Request.QueryString["Horse"]" class="form-control" placeholder="Search Horse" /></td>
                <td><input type="text" name="Status" value="@Request.QueryString["Status"]" class="form-control" placeholder="Search Status" /></td>
            </tr>

        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.SSCC)</td>
                    <td>@Html.DisplayFor(modelItem => item.WERKS)</td>
                    <td>@Html.DisplayFor(modelItem => item.MATNR)</td>
                    <td>@Html.DisplayFor(modelItem => item.ScannedCode)</td>
                    <td>@Html.DisplayFor(modelItem => item.Created)</td>
                    <td>@Html.DisplayFor(modelItem => item.CreatedBy)</td>
                    <td>@Html.DisplayFor(modelItem => item.Batch)</td>
                    <td>@Html.DisplayFor(modelItem => item.Horse)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="results-per-page-container">
        <label for="MaxRecords" class="results-per-page-label">Maximum Records:</label>
        <input type="text" name="MaxRecords" value="@Request.QueryString["MaxRecords"]" class="form-control" placeholder="100" />
        <label for="pageSize" class="results-per-page-label">Results per page:</label>
        <select id="pageSize" name="pageSize" class="results-per-page-select">
            <option value="10" @(Request.QueryString["pageSize"] == "10" ? "selected" : "")>10</option>
            <option value="25" @(Request.QueryString["pageSize"] == "25" ? "selected" : "")>25</option>
            <option value="50" @(Request.QueryString["pageSize"] == "50" ? "selected" : "")>50</option>
            <option value="100" @(Request.QueryString["pageSize"] == "100" ? "selected" : "")>100</option>
        </select>
        <button type="submit" class="results-per-page-button">Search</button>
    </div>


}
<div class="d-flex justify-content-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize, sortOrder, sortDirection, MaxRecords, SSCC, WERKS, MATNR, ScannedCode, CreatedFrom, CreatedTo, CreatedBy, Batch, Horse, Status }))
</div>

<div class="mt-3 text-center">
    @if (ViewBag.ResultCount != null)
    {
        <p><strong>@ViewBag.ResultCount Records Found</strong></p>
    }
    @if (ViewBag.TimeTaken != null)
    {
        <p><strong>Search time: @ViewBag.TimeTaken ms</strong></p>
    }
</div>

